@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  font-family: "Inter", system-ui, sans-serif;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}
